.banner {
background: url('images/background.jpg');
background-position: center;
background-size: cover;
color: white;
text-align: center;
padding: 40px 40px 40px 40px;

} 

.banner h1 {
	font-size: 30px;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
}